{% extends "base.html" %}

{% block content %}

    <div class = 'jumbotron'> 

      <h3> Get stock price here. </h3>

      <form method = "POST">

          {{form.hidden_tag()}}
          <br>
          {{form.input_one.label}} {{form.input_one}}
          <br>
          {{form.input_two.label}} {{form.input_two}}
          <br>
          {{form.submit()}}

      </form>

    </div>

    <table>
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Current Price</th>
                <th>Last Low</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in data %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.current_price }}</td>
                <td>{{ stock.last_low }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
